# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
env/

# Java
target/
*.class
*.jar
*.war
*.log
.idea/
*.iml
.settings/
.classpath
.project
.factorypath

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.swp
*.swo

# Env
.env
*.env.local
