<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liang.bbs.user.persistence.mapper.LotteryChanceMapper">
  <resultMap id="BaseResultMap" type="com.liang.bbs.user.persistence.entity.LotteryChancePo">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="user_id" jdbcType="BIGINT" property="userId"/>
    <result column="chances" jdbcType="INTEGER" property="chances"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
  </resultMap>
</mapper>
