<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liang.bbs.user.persistence.mapper.UserRoomMapper">
  <resultMap id="BaseResultMap" type="com.liang.bbs.user.persistence.entity.UserRoom">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="chatroom_id" jdbcType="INTEGER" property="chatroomId" />
    <result column="join_time" jdbcType="TIMESTAMP" property="joinTime" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="subscribe" jdbcType="TINYINT" property="subscribe" />
    <result column="exited" jdbcType="TINYINT" property="exited" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, chatroom_id, join_time, `role`, subscribe, exited
  </sql>
  <select id="selectByExample" parameterType="com.liang.bbs.user.persistence.entity.UserRoomExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_chatroom
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_chatroom
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_chatroom
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.liang.bbs.user.persistence.entity.UserRoomExample">
    delete from user_chatroom
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.liang.bbs.user.persistence.entity.UserRoom" useGeneratedKeys="true">
    insert into user_chatroom (user_id, chatroom_id, join_time, 
      `role`, subscribe, exited
      )
    values (#{userId,jdbcType=INTEGER}, #{chatroomId,jdbcType=INTEGER}, #{joinTime,jdbcType=TIMESTAMP}, 
      #{role,jdbcType=VARCHAR}, #{subscribe,jdbcType=TINYINT}, #{exited,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.liang.bbs.user.persistence.entity.UserRoom" useGeneratedKeys="true">
    insert into user_chatroom
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="chatroomId != null">
        chatroom_id,
      </if>
      <if test="joinTime != null">
        join_time,
      </if>
      <if test="role != null">
        `role`,
      </if>
      <if test="subscribe != null">
        subscribe,
      </if>
      <if test="exited != null">
        exited,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="chatroomId != null">
        #{chatroomId,jdbcType=INTEGER},
      </if>
      <if test="joinTime != null">
        #{joinTime,jdbcType=TIMESTAMP},
      </if>
      <if test="role != null">
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="subscribe != null">
        #{subscribe,jdbcType=TINYINT},
      </if>
      <if test="exited != null">
        #{exited,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.liang.bbs.user.persistence.entity.UserRoomExample" resultType="java.lang.Long">
    select count(*) from user_chatroom
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_chatroom
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.chatroomId != null">
        chatroom_id = #{record.chatroomId,jdbcType=INTEGER},
      </if>
      <if test="record.joinTime != null">
        join_time = #{record.joinTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.role != null">
        `role` = #{record.role,jdbcType=VARCHAR},
      </if>
      <if test="record.subscribe != null">
        subscribe = #{record.subscribe,jdbcType=TINYINT},
      </if>
      <if test="record.exited != null">
        exited = #{record.exited,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_chatroom
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      chatroom_id = #{record.chatroomId,jdbcType=INTEGER},
      join_time = #{record.joinTime,jdbcType=TIMESTAMP},
      `role` = #{record.role,jdbcType=VARCHAR},
      subscribe = #{record.subscribe,jdbcType=TINYINT},
      exited = #{record.exited,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.liang.bbs.user.persistence.entity.UserRoom">
    update user_chatroom
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="chatroomId != null">
        chatroom_id = #{chatroomId,jdbcType=INTEGER},
      </if>
      <if test="joinTime != null">
        join_time = #{joinTime,jdbcType=TIMESTAMP},
      </if>
      <if test="role != null">
        `role` = #{role,jdbcType=VARCHAR},
      </if>
      <if test="subscribe != null">
        subscribe = #{subscribe,jdbcType=TINYINT},
      </if>
      <if test="exited != null">
        exited = #{exited,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liang.bbs.user.persistence.entity.UserRoom">
    update user_chatroom
    set user_id = #{userId,jdbcType=INTEGER},
      chatroom_id = #{chatroomId,jdbcType=INTEGER},
      join_time = #{joinTime,jdbcType=TIMESTAMP},
      `role` = #{role,jdbcType=VARCHAR},
      subscribe = #{subscribe,jdbcType=TINYINT},
      exited = #{exited,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>